<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Produto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="feed-card">
    <div class="top-part">
      <img class="feed-img" src="https://http2.mlstatic.com/400-sementes-de-alface-crespa-cristina-D_NQ_NP_233811-MLB20642843566_032016-F.jpg">
      <div class="text">
        <ion-label color="primary" floating class="title">Title</ion-label>
        <ion-input></ion-input>

        <ion-label color="primary" floating class="price">Price</ion-label>
        <ion-input></ion-input>
      </div>
    </div>
    <ion-label color="primary" floating class="description">Description</ion-label>
    <ion-input></ion-input>
  </ion-card>
</ion-content>
