<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="search">
    <!--<ion-icon name="search"></ion-icon>-->
    <input class="input-search" placeholder="Pesquisar">
  </div>
  <div class="feed">
    <ion-card class="feed-card">
      <img class="feed-img" src="https://http2.mlstatic.com/400-sementes-de-alface-crespa-cristina-D_NQ_NP_233811-MLB20642843566_032016-F.jpg">
      <div class="text">
        <h1 class="title">Alface </h1>
        <p class="description">Pompeia-Sp</p>
        <p>R$ 1,62</p>
      </div>
    </ion-card>

    <ion-card class="feed-card">
      <img class="feed-img" src="http://jornaladvogado.com.br/wp-content/uploads/2018/06/Agricultura-Familiar-Produ%C3%A7%C3%A3o-de-tomate..jpg">
      <div class="text">
        <h1 class="title">Tomate</h1>
        <p class="description">Oriente-Sp </p>
        <p>R$ 1,62</p>
      </div>
    </ion-card>

    

  </div>
</ion-content>
