<ion-content padding center text-center>
  <h1>Deli</h1>
  <ion-list>
    <ion-item>
      <ion-input placeholder = "Email" [(ngModel)]="username"><ion-icon name="contact"></ion-icon></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder = "Senha" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <small *ngIf="emailValido">Coloque um E-mail ou Senha válido</small>
  </ion-list>
  <button class="login" (click) ="login()"><a>Login</a></button>
  <button class="register" (click) = "goRegister()"><a>Registre-se</a></button>
</ion-content>
