@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

page-login {
  ion-content {
    background-image: linear-gradient(52deg, #FFB957, #4A88DB 100%);
  }

  small{
    color: #a34741;
    font-size: 14px;
  }
  h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 20vw;
    color: white;
    margin-bottom: 15%;
    padding-top: 20%;
  }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 18vw;
    }
  }

  ion-item {
    background-color: rgba(255, 255, 255, 0.555) !important;
    border-radius: 500px !important;
    border: solid 0 white !important;
    margin-bottom: 7px !important;
    max-width: 500px;
    align-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  ::placeholder {
    color: #f6f6f6 !important;
    letter-spacing: 1.5px;

    //font-size: 1.5em;
  }

  button {
    width: 100%;
    height: 46px;
    border-radius: 500px;
    max-width: 500px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    border: solid 0;
    background-color: rgba(255, 255, 255, 0.75);
  }

  a {
    letter-spacing: 1.5px;
    background: -webkit-linear-gradient(52deg, #4A88DB 0%, #FFB957 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login {
    margin-top: 1.5%;
  }
}
