page-profile {
  background-color: #8c8c8c;
  .profile-card{
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #000000;
    .profile-img {
      white-space:nowrap;
      overflow: hidden;
    }
    .text {
      display: block;
      margin: 17px 0px 0px 0px;
      width: 100%;
      .name {
        text-align: center;
      }
      .description {
        margin: 0px 20px 20px 20px;
        font-size: 15px;
      }
      .birth {
        margin-left: 23px;
        margin-top: 5px;
        color: #7b7b7b;
      }
    }
    .save {
      width: 92%;
      margin: 15px 10px 20px 15px;
    }
  }

}
