<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meu Produtos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab class="add-button">
    <button ion-fab (click)="new_product()"><ion-icon name="add" style="font-size: 37px"></ion-icon></button>
  </ion-fab>
</ion-content>
