<ion-header>

  <ion-navbar>
    <ion-title text-center >Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
      <ion-label stacked> <ion-icon name="mail"></ion-icon> Seu email:</ion-label>
      <ion-input [(ngModel)] = "usuario.email" type="email" ></ion-input>
    </ion-item>
    
      <ion-item>
        <ion-label stacked>  <ion-icon name="person"></ion-icon> Seu nome:</ion-label>
        <ion-input [(ngModel)] = "usuario.nome" type="text" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked> <ion-icon name="lock"></ion-icon> Sua senha:</ion-label>
        <ion-input [(ngModel)] = "usuario.senha" type="password" ></ion-input>
      </ion-item>     
  

  <button ion-button full (click)="register()">Registre-se</button>

</ion-content>
