<ion-header>

  <ion-navbar>
    <div>
      <ion-title> <ion-icon name="arrow-back"></ion-icon> Chat</ion-title>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="https://static.poder360.com.br/2018/09/JairBolsonaro-Camara-Plenario-20-569x420.jpg">
      </ion-avatar>
      <h1>Vendedor</h1>
      <p><ion-icon name="time"></ion-icon> 15:40</p>
    </ion-item>

    

    <ion-card-content>
      <p>Vendo muitas coisas loucas</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>

    <ion-item item-end>
      <ion-avatar item-end>
        <img src="https://conteudo.imguol.com.br/c/noticias/37/2018/09/27/daciolo-1538058572189_615x300.jpg">
      </ion-avatar>
      <h1>Comprador</h1>
      <ion-item>
        <p><ion-icon name="time"></ion-icon> 15:41</p>
      </ion-item>
    </ion-item>

    

    <ion-card-content>
      <p>Louco</p>
    </ion-card-content>
  </ion-card>

  
      
</ion-content>
  

<ion-footer>
  <ion-footer>
      <ion-input placeholder="Mensagem..."></ion-input>
      <button ion-button color="secondary"><ion-icon name="send"></ion-icon></button>    
  </ion-footer>
</ion-footer>
